<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.pms.masterdata.mapper.IUserMapper"> 
   <resultMap id="BaseResultMap" type="com.pms.masterdata.entity.User"> 
	<result column="id" property="id" jdbcType="INTEGER" /> 
	<result property="name" column="name" jdbcType="VARCHAR"></result> 
	<result property="birthday" column="birthday" jdbcType="DATE"></result>
	<result property="address" column="address" jdbcType="VARCHAR"></result>
    </resultMap> 
    
    <sql id="Base_Column_List">
	id,name,birthday,address
    </sql>
	
    <select id="queryUserList" resultMap="BaseResultMap">
         select <include refid="Base_Column_List" /> from user 
    </select>
</mapper>